body {
    text-align: center;
    padding: 20px;
}

#imageContainer {
    width: 300px; /* Adjust as per your image size */
    height: auto; /* Adjust height automatically based on content */
    margin: 20px auto;
}

#changeImage {
    display: block;
    margin: 0 auto; /* Centers the button */
    padding: 10px 20px; /* Adjust padding as needed */
}

#randomImage {
    width: 100%; /* Makes the image take up full container width */
    display: block;
    margin: 0; /* Remove any default margin */
}

#resetImages {
    margin-top: 0px;
    width: 100px;
}
